import(stats, Rcmdr)
importFrom("graphics", "par", "strwidth", "hist")
importFrom("gmodels", "CrossTable")
importFrom("DescTools", "ConDisPairs")
importFrom("psych", "corr.test")
importFrom("haven", "read_dta")
importFrom("lattice", "levelplot")
importFrom("RColorBrewer", "brewer.pal")
importFrom("tcltk", "tkadd", "ttknotebook", "tkselect", "tkbutton")
S3method(print, ktb)
S3method(print, gkg)
S3method(searchVarLabels, data.frame)
S3method(searchVarLabels, tbl_df)
S3method(inspect, data.frame)
S3method(inspect, tbl_df)
exportPattern("^[^\\.]")
