# last modified 2015-12-08
import(stats, Rcmdr)
importFrom("graphics", "par", "strwidth", "hist")
importFrom("DescTools", "ConDisPairs")
importFrom("psych", "corr.test")
importFrom("tcltk", "tkadd", "ttknotebook", "tkselect", "tkbutton")
S3method(print, ktb)
S3method(print, gkg)
exportPattern("^[^\\.]")
